.no1 {
  text-align: center;
  padding: 20px;
}

@media (min-width: 375px) {
  /* smartphones, Android phones, landscape iPhone */
  .no3 {
    text-align: center;
  }

  .no4 {
    font-size: small;
  }
}

/* DESKTOP VIEW */

@media (min-width: 1025px) {
  /* smartphones, Android phones, landscape iPhone */
  .no2 {
    display: flex;
  }
}
